@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

:root {
  --blue: #678db396;
}

body {
  margin: 0;
  background: var(--blue);
  font-family: "Roboto", sans-serif;
}

.wrapper {
  display: grid;
  grid-template-rows: 120px 300px auto auto 50px;
  height: 100vh;
}

.header {
  justify-content: center;
  align-self: center;
  text-align: center;
}

.header > p {
  font-size: 1.7rem;
  font-weight: bold;
}

h1 {
  font-size: 6rem;
  font-weight: 900;
  text-shadow: 0 0 2px black;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  height: 290px;
  align-items: center;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.cards-content {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 8px;
  scroll-snap-align: center;
}
.img1,
.img3 {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0px 0px 25px #000;
}
.img2 {
  width: 230px;
  height: 230px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0px 0px 25px #000;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-evenly;
}

.bar-sec {
  display: flex;
  justify-content: space-around;
  font-weight: 800;
  font-size: 1.5rem;
}

.bar {
  position: relative;
  display: flex;
  width: 260px;
  height: 10px;
  border: 1px solid black;
  border-radius: 20px;
  align-self: center;
  box-shadow: 0px 0px 6px 0px #000;
}

.bar::before {
  content: "";
  position: absolute;
  width: 75%;
  height: 8px;
  border-radius: 18px;
  background-color: #000;
  box-shadow: 0px 0px 6px 0px #000;
}

.progress-bar > h3 {
  display: flex;
  text-align: center;
  place-content: center;
  font-size: 2.5rem;
  padding-top: 7px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.play-b {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.before-b,
.next-b {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.footer {
  display: flex;
  justify-content: center;
  align-self: center;
}

.footer-container {
  width: 150px;
  display: flex;
  justify-content: space-around;
}

.footer > .footer-container > a > img {
  width: 25px;
  height: 25px;
}

.play-b:hover,
.before-b:hover,
.next-b:hover {
  box-shadow: 0 0 20px white;
}

@media screen and (min-width: 650px) {
  .progress-bar,
  .buttons {
    width: 30%;
    margin: auto;
  }
  .wrapper {
    display: grid;
    grid-template-rows: 120px 300px 120px 100px 50px;
    height: 100vh;
  }
  .cards {
    overflow: hidden;
  }
}
